project:
  type: website
  output-dir: docs

website:
  title: "Visualization Journal"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    toc: true
    number-sections: true
    code-fold: true
    code-summary: "Show code"
execute:
  echo: true
  warning: false
  message: false
